{% extends 'base.html' %}

{% block content %}
<style>
    .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
    }
</style>

<div class="container">
    <div class="starter-template">
        <h1 style="font-weight: bold; color: blue;">MEMO</h1>
        {% if request.user.is_authenticated() %}
        <div class="form-group">
            <form method="POST">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="form-group">
                    <textarea class="form-control" name="memo" rows="4" cols="50" autofocus></textarea>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Upload</button>
                </div>
            </form>
        </div>
        {% else %}
        <p class="lead">If you want to post message on the wall, please login first.</p>
        {% endif %}

        {% for memo in memo_list %}
        <h4>{{ memo.text }}</h4>
        <p>{{ memo.upload_time.strftime('%Y-%m-%d-%H:%M') }}</p>
        <hr>
        {% endfor %}
    </div>
</div><!-- /.container -->

{% endblock %}